@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";

body{
    font-family: 'Open Sans', sans-serif;
}

.welcome-header{
margin:90px 0px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}
.welcome-header__title{
    margin-bottom: 20px;
    font-size:25px;
}
.welcome-header__text{
    width:60%;
    opacity: 0.7;
}
#login-form{
    display: flex;
    flex-direction: column;
    margin:0px 30px;
}
#login-form input{
    border:none;
    padding: 15px 0px;
    font-size:18px;
    margin-bottom:25px;
}

#login-form input:not([type="submit"]){
    border-bottom:1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}/*not은 "이 것을 제외한 나머지에 적용하고 싶어요" 라는 말이라서,
#login-form input 에도 똑같이 쓰면 중복적용됩니다.
not쪽에만 쓰셔야해용

추가로 css의 cascading에 의하여,
#login-form input:not([type="submit"]) 에
transition이 들어갔기 때문에,
#login-form input:focus 보다 위에 있어야
focus 에 들어간 border-color의 변화값이 나타납니다.
항상 cascading에 주의하세요!*/

#login-form input::placeholder{
color:rgba(0,0,0,0.4);
}
#login-form input:focus{
border-color: var(--yellow);
}
#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor:pointer;
padding:20px 0px;
border-radius: 5px;} /* cursor는 마우스'커서' '커서' 뭐 될래?...*/
#login-form a{
    text-align: center;
    text-decoration: none;
color:inherit;
font-size:13px;
}
    
